
<div class="container-fluid">
  <div class="row">
    <div class="mt-4 col-md-12">
      <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
        <label>City *</label>
        <input type="text" [formControlName]="'city'" class="form-control" placeholder="Enter City Name">
        <div *ngIf="inputForm.controls['city'].errors?.required" class="ul error message">City is required</div>
        <div *ngIf="cityList?.length ==0" class="ul error message">Please enter valid city name</div>
        <br>
        <input type="submit" class="btn btn-success" value="submit" style="float: right;" [disabled]="!inputForm.valid">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="additionalForm" (ngSubmit)="getRestaurantResults()" *ngIf="cityList && cityList?.length !=0">
        <label >Cities</label>
        <angular2-multiselect [data]="cityList" [(ngModel)]="selectedCity"
                              [settings]="cityListDropdownSetting" (onSelect)="getCuisines($event)" [formControlName]="'restaurantCity'">

        </angular2-multiselect>

        <div *ngIf="cuisinesList && cuisinesList.length !=0">

          <br>
          <label >Categories</label>
          <angular2-multiselect [data]="categoryList" [(ngModel)]="selectedCategory"
                                [settings]="categoryListDropDownSetting" [formControlName]="'restaurantCategory'"></angular2-multiselect>
          <br>
          <label>Cuisines</label>
          <angular2-multiselect [data]="cuisinesList" [(ngModel)]="selectedCuisine"
                                [settings]="cuisinesListDropDownSetting" [formControlName]="'restaurantCuisine'"></angular2-multiselect>

          <br>
          <input type="submit" class="btn btn-success" value="Get Restaurants" style="float: right;">

          <input type="button" class="btn btn-danger" value="Reset Filter" style="float: left;" (click)="ResetForm()">
        </div>


      </form>
    </div>
  </div>
</div>






