.card {
  box-shadow: 0px 1px 5px #555;
  background-color: white;
  margin-left: 10px;
  margin-top:10px;
  width:300px;
  height:300px
}
.card__title {
  font-size: 2rem;
  padding: .5rem;
}
.card__description {
  padding: .5rem;
  line-height: 1.6em;

}


.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
