

<div *ngIf="restaurants && restaurants?.length !== 0">
<div class="card-container">
      <div *ngFor="let restaurant of restaurants">
        <article class="card">
          <header class="card__title">
            <h3>{{restaurant?.name}}</h3>
          </header>

          <div class="row">
            <div class="mt-3 col-sm-12 text-center">
              <img src="{{restaurant?.image}}" style="max-width:100px;max-height: 100px">
            </div>

          </div>
            Address: {{restaurant?.location?.address}}

          <div class="row">
            <div class="mt-3 col-sm-12 text-center" style="position:absolute; bottom:0;">

              <a href="{{restaurant?.photos}}" target="_blank"><div class="btn btn-primary btn-md center-block" style="width: 100px;">Photos</div></a>
              <a href="{{restaurant?.menu}}" target="_blank"><div class="btn btn-danger btn-md center-block" style="width: 100px;">Menu</div></a>
            </div>
          </div>

        </article>

      </div>
  </div>
</div>
<div *ngIf="restaurants?.length === 0">Please select another filter</div>

