

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-filter [cityListDropdownSetting]="cityListDropdownSetting" [cityList]="cityList"
                  [categoryList]="categoryList" [categoryListDropDownSetting]="categoryListDropdownSetting"
      (citySubmitted)="fetchCities($event)"
                  (citySelected)="getCuisines($event)"
                  (paramsSelected)="getRestaurantInfo($event)"
                  [cuisinesList]="cuisineList" [cuisinesListDropDownSetting]="cuisineListDropdownSetting"></app-filter>

    </div>
    <div class="col-md-9">
            <app-restaurantresults [restaurants]="restaurants"></app-restaurantresults>
    </div>
  </div>
</div>






